.convert {
    padding: 0 30px 30px 30px;
    min-height: 390px;
  
    h1 {
      margin-bottom: 40px;
    }
  
    .form {
      display: flex;
      background-color: #ffffff;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
      border-radius: 20px;
      border: 1px solid rgba(0,0,0,.125);
      box-sizing: border-box;
      justify-content: space-around;
      margin: 0 auto;
      padding: 40px 20px;
      max-width: 600px;
  
      .form-control {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        outline: none;
        margin-top: 20px;
      }
    }
  
    .info {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.5;
      justify-content: center;
      margin-top: 20px;
    
      img {
        margin-right: 10px;
      }
    }
  }
  
  @media screen and (max-width: 768px) {
    .content {
      text-align: center;
    
      h1 {
        margin-bottom: 20px;
      }
  
      .form {
        display: inline-block;
        flex-direction: column;
        padding: 10px 50px;
  
        .form-control {
          font-size: 30px;
        }
      }
    }
  }
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="number"]:hover,
  input[type="number"]:focus {
    -moz-appearance: number-input;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }